.hero2 {
    width: 100vw;
    height: 50vh;
    background-image: linear-gradient(#a1287d,#f189a0);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: -5;
    background-color: transparent;
    margin: 0rem;
    top: -5px;
}

.bgimg {
    height: 50vh;
    width: 100vw;
    position: absolute;
    /* z-index: -5; */
    margin: 0;
    top: 0px;
    background: radial-gradient(859px at 10% 20%, rgba(202, 180, 118, 0.726) 0%, #a44d33bd 80%), url(/images/cbg2.jpg) repeat fixed 100% ;
    background-size: cover;
}

.cv-btn1 {
    height: 50px;
    width: 100%;
    margin: 0 auto;
    border: 2px solid tan;
    background: transparent;
    border-radius: 5px;
    color:#FFEBCD;
    transition: all 0.3s;
    font-size: 18px;
    cursor: pointer;
}

.cv-btn1:hover { 
    background-color:#bb7937;
    border: 2px solid #bb7937 ;
    transition: all 0.3s;
    text-transform: uppercase;
    color: white;
    font-weight: 500;
    letter-spacing: 1.5px;
}

#cv-cont1 {
    text-align:center;
    place-items: center;
    display: grid;
    color: whitesmoke;
}

#cv-cont1 h1 {
    text-shadow: 3px 3px 3px #0a0a0a54;
    font-size: 35px;
    vertical-align: middle;
    /* background-color:bisque; */
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid #1c1301; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 0; /* Gives that scrolling effect as the typing happens */
    letter-spacing: 3px; /* Adjust as needed */
    animation: 
        typing 4s steps(40, end) forwards,
        blink-caret .75s step-end infinite;
        width: 100;
}

/* The typing effect */
@keyframes typing {
    from { width: 0 }
    to { width:100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    100% { border-color: #1c1301; }
}



